<header role="banner">

  <nav role="nav">
    <a class="nav__toggle">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.36 35.17">
        <rect width="34.36" height="5.48" rx="0.66" ry="0.66"/>
        <rect y="14.84" width="34.36" height="5.48" rx="0.66" ry="0.66"/>
        <rect y="29.69" width="34.36" height="5.48" rx="0.66" ry="0.66"/>
      </svg>
      <div class="nav__label">
        Menu
      </div>
    </a>

    <ul class="list-reset nav__menu">
      <li><a href="{{ site.baseurl }}/">Home</a></li>
      <li><a href="{{ site.baseurl }}/productions/">Our productions</a></li>
      <li><a href="{{ site.baseurl }}/work-with-us/">Work with us</a></li>
      <li><a href="{{ site.baseurl }}/workshops/">Attend a workshop</a></li>
      <li><a href="{{ site.baseurl }}/philosophy/">Philosophy and history </a></li>
      <li class="nav__item--last"><a href="{{ site.baseurl }}/contact/">Contact</a></liclass>
    </ul>
  </nav>

</header>
