$susy: ( columns: 12, gutters: 1, math: fluid, output: float, gutter-position: after )

.grid
  @include container
  @include layout($susy)
  margin-bottom: 1rem
  &[itemtype="http://schema.org/Organization"]
    margin-bottom: 0
  &__item
    img
      max-width: 100%
      margin: 0 auto
      display: block
    img.dancer
      text-align: left
      margin-left: 0
    .btn
      display: block
      text-align: center

  // 2-up just for footer atm
  &--2
    +for-tablet-portrait-up
      .grid__item
        @include span(6)
      .grid__item:nth-of-type(2n)
        @include span(last 6)
  // 3-up content row
  &--3
    +for-tablet-portrait-up
      .grid__item
        @include span(4)
      .grid__item:nth-of-type(3n)
        @include span(last 4)
      .grid__item:nth-of-type(3n + 1)
        clear: both

  // Event grid on various pages
  &--event
    .grid__item
      clear: both
      border-top: 2px solid $primary
      padding-top: 1rem
    h3
      margin-top: 0em
      margin-bottom: 0
    p
      margin-top: 0
      font-family: $font-regular
    .event__info
      @include span(last 12)
      +for-tablet-portrait-up
        @include span(6)
    .event__more
      @include span(6)
      +for-phone-only
        margin-bottom: 1rem
      +for-tablet-portrait-up
        @include span(3)
    .event__book
      text-transform: uppercase
      @include span(last 6)
      +for-tablet-portrait-up
        @include span(last 3)

  // Donate bar
  +for-tablet-portrait-up
    &__item--large-left
      @include span(7)
      @include post(1)
    &__item--small-right
      @include span(4 last)

  // Top footer block
  +for-tablet-landscape-up
    &__item--small-left
      @include span(6)
    &__item--large-right
      @include span(6 last)
  +for-desktop-up
    &__item--small-left
      @include span(4)
    &__item--large-right
      @include span(8 last)

  +for-tablet-portrait-up
    .grid__item--footer-1
      @include span(6)
    .grid__item--footer-2, .grid__item--footer-sitemap
      @include span(6 last)
  +for-desktop-up
    .grid__item--footer-1, .grid__item--footer-2
      @include span(4)
    .grid__item--footer-3
      @include span(4 last)
    .grid__item--footer-sitemap
      @include span(8 last)

  +for-tablet-landscape-up
    .grid__item--contact-left
      @include span(8)
    .grid__item--contact-right
      @include span(4 last)
