/* Add spacing top and bottom */
.row
  padding: ($gutter / 2) $gutter
  +for-desktop-up
    max-width: 1200px
    margin: 0 auto

.row--thin
  padding: 0
  margin: 0 $gutter
  +for-desktop-up
    max-width: 1200px
    margin: 0 auto

/* Main theme - here for completeness, not actually used */
.t-1
  color: $primary
  background-color: $background

/* Pink background theme */
.t-2
  color: $background
  background: $primary
  // h/t https://css-tricks.com/full-browser-width-bars/#article-header-id-2
  +for-desktop-up
    +full-width($primary)


/* Black background theme */
.t-3
  color: $background
  background-color: $copy
  +for-desktop-up
    +full-width($copy)

#map
  width: 100%
  height: 500px
