/* Add spacing top and bottom */
.row
  padding: ($gutter / 2) 0

/* Main theme - here for completeness, not actually used */
.t-1
  color: $primary
  background-color: $background

/* Pink background theme */
.t-2
  color: $background
  background: $primary
  // h/t https://css-tricks.com/full-browser-width-bars/#article-header-id-2
  +for-desktop-up
    +full-width($primary)


/* Black background theme */
.t-3
  color: $background
  background-color: $copy
  +for-desktop-up
    +full-width($copy)
