.nav
  // Mobile / Tablet landscape nav
  &__toggle
    background-color: $copy
    color: $background
    margin-left: -$gutter
    margin-right: -$gutter
    padding: 0.5rem $gutter
    display: block
    border-bottom: none
    cursor: pointer
    svg
      width: 1em
      height: 1.5em
      fill: $background
    &:hover
      border-bottom: none
  &__label
    text-transform: uppercase
    display: inline-block
    vertical-align: top
    padding-left: 0.5em
    padding-top: 0.1em
  &__menu
    margin-top: 1rem
    font-size: 1.5rem
    line-height: 2
    font-family: $font-demi
    li
      border-bottom: 2px solid $primary
      &:hover
        background-color: $primary
        +for-tablet-landscape-up
          background-color: transparent
        a
          color: $background
          +for-tablet-landscape-up
            border-bottom-color: $primary
    li.nav__item--last
      border-bottom: none
      margin-bottom: 0.8rem
      +for-tablet-landscape-up
        margin-bottom: 0rem

    a
      border-bottom: none
      display: inline-block
      width: 100%

  &--hidden
    display: none
  &--visible
    display: block

  // Desktop nav
  +for-tablet-landscape-up
    background-color: $copy
    padding-top: 1em
    padding-bottom: 1em
    margin-left: -$gutter
    margin-right: -$gutter
    +for-desktop-up
      +full-width($copy)
    &__toggle
      display: none
    &--hidden
      display: block
    &__menu
      margin-top: 0
      font-size: 1.25rem
      line-height: 1.5
      margin-left: $gutter
      margin-right: $gutter
      li
        border-bottom: none
        display: inline-block
        margin-right: 1em
        a
          color: white
          border-bottom: 2px solid $background



  // Footer nav list
  &--footer
    li
      margin-right: 0.5em
      margin-bottom: 0.5em
      +for-tablet-portrait-up
        display: inline-block

a:hover .nav__label
  color: $background
