body
  font-family: "CartographSansCF-DemiBold", Helvetica, Arial, sans-serif
  line-height: 1.5

h1, h2, h3, h4, h5, h6
  color: $primary

h1, h2
  font-family: "CartographSansCF-Bold", Helvetica, Arial, sans-serif

// Large titles
h1
  font-size: 2.5rem
  line-height: 1.2

// Regular titles
h2
  font-size: 2rem
  line-height: 1

// Intro statements
h3
  font-size: 1.5rem
  line-height: 2

nav
  font-size: 1.25rem
  line-height: 1.5

.light
  font-family: "CartographSansCF-Regular", Helvetica, Arial, sans-serif
  line-height: 2

.footer
  font-size: 0.75rem
  line-height: 1.666666667
