---
layout: default
---

<div class="row">
  <div class="grid">
    <div class="grid__item grid__item--contact-left">
      <h2>Send us a message</h2>
      <form action="https://getsimpleform.com/messages?form_api_token=f1191b02e067771e68c83de0ce111d87" method="post">
        <!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
        <input type='hidden' name='redirect_to' value='<the complete return url e.g. http://touchdowndance.co.uk/contact/>' />
        <!-- all your input fields here.... -->
        <input type='text' name='name' id='name' class="form__full" placeholder="Name">
        <input type='tel' name='tel' id='tel' class="form__half" placeholder="Telephone">
        <input type='email' name='email' id='email' class="form__half" placeholder="Email">
        <textarea name='message' id='message' class="form__full" rows="8" placeholder="Message"></textarea>
        <input type='submit' class="btn" value='Send message' />
      </form>

    </div>
    <div itemscope itemtype="http://schema.org/Organization" class="grid__item grid__item--contact-right">
      <h2>Our details</h2>
      <div class="small-skip"><abbr title="Telephone">T:</abbr> <a itemprop="telephone" href="tel:+44-161-912-5760">0161 912 5760</a></div>
      <div><abbr title="Email">E:</abbr> <a itemprop="email" href="mailto:info@touchdowndance.co.uk">info@touchdowndance.co.uk</a></div>
      <br><br>
      <div itemprop="name">Touchdown Dance</div>
      <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
          <span itemprop="streetAddress">
            Waterside Arts Centre,<br>
            1 Waterside,<br>
          </span>
          <span itemprop="addressRegion">Sale</span>,
          <span itemprop="postalCode">M33 7ZF</span>
      </div>
    </div>
  </div>
</div>

<div class="decorate"></div>

<div class="row t-2">
  {% include donate.html %}
</div>

<div id="map"></div>
<script>
  function initMap() {
    var waterside = {lat: 53.4251605, lng: -2.3215189};
    var pinImage = new google.maps.MarkerImage('{{site.baseurl}}/assets/img/map-marker.png');
    var styles = [
      {
        "elementType": "geometry",
        "stylers": [
          {
            "color": "#000000"
          }
        ]
      },
      {
        "elementType": "labels.icon",
        "stylers": [
          {
            "visibility": "off"
          }
        ]
      },
      {
        "elementType": "labels.text.fill",
        "stylers": [
          {
            "color": "#ffffff"
          }
        ]
      },
      {
        "elementType": "labels.text.stroke",
        "stylers": [
          {
            "color": "#000000"
          }
        ]
      },
      {
        "featureType": "administrative.land_parcel",
        "elementType": "labels.text.fill",
        "stylers": [
          {
            "color": "#000000"
          }
        ]
      },
      {
        "featureType": "poi",
        "elementType": "geometry",
        "stylers": [
          {
            "visibility": "off"
          }
        ]
      },
      {
        "featureType": "poi.park",
        "elementType": "geometry",
        "stylers": [
          {
            "visibility": "off"
          }
        ]
      },
      {
        "featureType": "poi.park",
        "elementType": "labels.text.fill",
        "stylers": [
          {
            "color": "#ffffff"
          }
        ]
      },
      {
        "featureType": "road",
        "elementType": "geometry",
        "stylers": [
          {
            "color": "#eb516d"
          }
        ]
      },
      {
        "featureType": "road",
        "elementType": "labels.text.fill",
        "stylers": [
          {
            "color": "#ffffff"
          }
        ]
      },
      {
        "featureType": "road.highway",
        "elementType": "geometry",
        "stylers": [
          {
            "color": "#eb516d"
          }
        ]
      },
      {
        "featureType": "road.highway",
        "elementType": "labels.text.fill",
        "stylers": [
          {
            "color": "#ffffff"
          }
        ]
      },
      {
        "featureType": "transit.line",
        "elementType": "geometry",
        "stylers": [
          {
            "color": "#000000"
          }
        ]
      },
      {
        "featureType": "transit.station",
        "elementType": "geometry",
        "stylers": [
          {
            "color": "#ffffff"
          }
        ]
      },
      {
        "featureType": "water",
        "elementType": "geometry",
        "stylers": [
          {
            "color": "#782b35"
          }
        ]
      },
      {
        "featureType": "water",
        "elementType": "labels.text.fill",
        "stylers": [
          {
            "color": "#000000"
          }
        ]
      }
    ]
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 13,
      center: waterside,
      styles: styles
    });
    var marker = new google.maps.Marker({
      position: waterside,
      map: map,
      icon: pinImage
    });
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyACjavo5ZKfyNLd5BOrVxfhcA7FtFoqGM8&callback=initMap"></script>
