---
layout: default
---

<div class="home">

  <h1>Courses</h1>

  {{ content }}

  <h2>Course History</h2>

  <ul class="post-list">
    {% assign courses = site.courses | sort: 'start' %}
    {% for course in courses reversed %}
      <li>
        <h3>
          {% if course.full_page %}
            <a href="{{ course.url | relative_url }}">{{ course.title | escape }},</a>
          {% else %}
            {{ course.title | escape }},
          {% endif %}
          <time>{{ course.start }}{% if course.finish %} &ndash; {{ course.finish }}{% endif %}</time>
        </h3>
        {% if course.full_page %}
          {{ course.excerpt }}
        {% else %}
         {{ course.content }}
       {% endif %}
       {% if course.full_page %}
          <a class="btn" href="{{ course.url | relative_url }}">Read more &hellip;</a>
       {% endif %}
      </li>
    {% endfor %}
  </ul>

</div>
