<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main aria-label="Content">

      <div class="row t-2 header">
        <a href="{{site.baseurl}}/">
          <div class="logo">{% include logo.html %}</div>
        </a>
        <h1>
          {{ page.title }}
          {% if page.start %}({{ page.start }}{% if page.finish %} &mdash; {{ page.finish }}{% endif %}){% endif %}
        </h1>
        <p class="h3">{{ page.description }}</p>
      </div>

      {{ content }}

    </main>

    {% include footer.html %}

  </body>

</html>
