---
layout: default
---

<div class="grid row">
  <div class="grid__item grid__item--large-left">
    <blockquote class="h2">&ldquo;Touchdown Dance has changed my body and my life&rdquo;</blockquote>
    <p>You can directly help support us in what we do, or explore our site to learn more.</p>
  </div>
  <div class="grid__item grid__item--small-right">
    <p><a href="https://touchdowndance.charitycheckout.co.uk/" class="btn h3 btn--donate">Donate now</a></p>
  </div>
</div>

<div class="t-2">
  <div class="grid grid--3">
    <div class="grid__item">
      <h2>Productions</h2>
      <img src="./assets/img/our-productions@2x.jpg" alt="" role="presentation">
      <p>As a dance company we tour our innovative productions all over the world. We work with with both disability rights organisations and mainstream dance theatre groups.</p>
      <p><a class="btn btn--alt" href="{{ site.baseurl }}/productions/">Our productions</a></p>
    </div>
    <div class="grid__item">
      <h2>Work with us</h2>
      <img src="./assets/img/work-with-us@2x.jpg" alt="" role="presentation">
      <p>We deliver world-class workshops based on contact improvisation for people with visual imparments all over the world. We can create bespoke workshops for your arts organisation, care centre, or health education group.</p>
      <p><a class="btn btn--alt" href="{{ site.baseurl }}/work-with-us/">Work with us</a></p>
    </div>
    <div class="grid__item">
      <h2>Who we are</h2>
      <img src="./assets/img/who-we-are@2x.jpg" alt="" role="presentation">
      <p>Touchdown was founded by Steve Paxton and Anne Kilcoyne in 1986 at Dartington College of Arts and was moved to the North West when Katy Dymoke took over in 1994. We have over thirty years of experience and practice to learn from.</p>
      <p><a class="btn btn--alt" href="{{ site.baseurl }}/philosophy/">Who we are</a></p>
    </div>
  </div>
</div>

<div class="row">
  {% include events.html %}
</div>


{{ content }}
