---
layout: default
---

<div class="home">

  <h1>Productions</h1>

  {{ content }}

  <h2>Our Productions</h2>

  <ul class="post-list">
    {% assign productions = site.productions | sort: 'start' %}
    {% for production in productions reversed %}
      <li>
        <h3>
          <a href="{{ production.url | relative_url }}">{{ production.title | escape }}</a>
          <small><time>({{ production.start }}{% if production.finish %}  &mdash; {{ production.finish }}{% endif %})</time></small>
        </h3>
        <p>{{ production.tagline }}</p>
      </li>
    {% endfor %}
  </ul>

</div>
