---
layout: default
---

<div class="row">
  <div class="grid">
    <div class="grid__item grid__item--large-left">
      <p class="h3">Touchdown Dance became company in residence at Waterside Arts Centre in Sale in 2004. From this base we have established a solid track record locally and regionally, and grown our profile both nationally and internationally.</p>
    </div>
    <div class="grid__item grid__item--small-right">
      <p><img src="../assets/who/1.jpg"></p>
    </div>
  </div>
</div>

<div class="decorate"></div>

<div class="row t-2">
  <div class="grid">
    <div class="grid__item grid__item--large-left">
      <h2>Education</h2>
      <p>For most of our history we've been world leaders in teaching dance to disabled and visually impaired people. Our education pack is our living handbook we use with students and teachers alike. We offer it as a free e-book to help stimulate discussion among practitioners.</p>
    </div>
    <div class="grid__item grid__item--small-right">
      <p><a class="btn h3 btn--donate" href="https://katy.gitbooks.io/touchdown-dance-education-pack/">Read our Education Pack</a></p>
    </div>
  </div>
</div>

<div class="row">
  <h2>History</h2>
  <div class="grid">
    <div class="grid__item grid__item--large-left">
      <p>We started working with the Royal National Institute for the Blind (RNIB) in 1986. We had our first production in 1992, and moved our operation to the North West in 1994.</p>

      <p class="light">At this point we started working with children, and running many more productions and community workshops over the next few years. In 2005 we became Company in Residence at Waterside Arts Centre, where we continue to run weekly sessions.</p>

      <p class="light">In 2010 we started getting more partnerships, working extensively with Look UK and Henshaw's Society for the Blind.</p>

      <p class="light">We have recently merged with <a href="http://embody-move.co.uk/">Embody Move</a>, the license holder for the School for Body-Mind Centering training programs in the UK. We look forward to the opportunities working directly with our Somatic Movement education program.</p>
    </div>
    <div class="grid__item grid__item--small-right" role="presentation">
      <img src="../assets/who/2.jpg">
    </div>
  </div>
</div>

<div class="decorate"></div>
