---
layout: default
---

<div class="decorate">
  <div class="row">
    <div class="grid">
      <div class="grid__item grid__item--large-left">
        <p class="h3">Our workshops are suitable for everyone. They are especially designed for blind or visually impaired people, or people with learning difficulties.</p>

        <h2>How to attend a workshop</h2>

        <p>Browse our events below. If there's anything you want to come to you can either click the Booking link, or get in touch on our contact page. Some events are free, and some have a small charge.</p>
      </div>
      <div class="grid__item grid__item--small-right">
        <p><a class="btn h3 btn--donate" href="{{ site.baseurl }}/contact/">Book a workshop</a></p>
      </div>
    </div>
  </div>
</div>

<div class="row t-2">
  <h2>Weekly open access sessions</h2>
  <div class="grid grid--3" role="presentation">
    <div class="grid__item">
      <img src="../assets/work/1.jpg">
    </div>
    <div class="grid__item">
      <img src="../assets/workshops/2.jpg">
    </div>
    <div class="grid__item">
      <img src="../assets/workshops/3.jpg">
    </div>
  </div>
  <div class="grid">
    <div class="grid__item grid__item--large-left">
      <h3 class="h3--nbm">Visible</h3>
      <p>Dance and sing along sessions with dance and sign language for all adults (18+) at Waterside Arts Centre in Sale.</p>
    </div>
    <div class="grid__item grid__item--small-right">
      <p>
        Tuesdays<br>
        <time class="light">10.30am &mdash; 12 noon</time><br>
        <time class="light">1.30pm &mdash; 3pm</time>
      </p>
      <p>Price per session: £3.50</p>
      <p><a class="btn btn--alt" href="{{ site.baseurl }}/contact">Contact us for bookings</a></p>
    </div>
  </div>
</div>

{% include events.html %} 
